@import url('https://fonts.googleapis.com/css?family=Work Sans');

/* PLEASE make sure to write css for the sections individually here. Do not add it to the the page2-main.css file! */

#chart {
  font-size: 20px;
}


#sec2title {
    padding:1%;
   font-size: 75px;
}

.sec, .sec2, .sec3  {
    position: relative;
    min-height: 500px;
    padding: 100px;
    background: black;
    
    
  }
  
  .sec, .sec2, .sec3 h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
  }
  
   p {
    font-size: .5em;
    color: #fff;
  }

  
/* Below is the css for the typing effect for section 1 */

.typing-container {
    text-align: left;
    width: 50%;
    color: white;
  }
  
  
  #typing-text {
    transition: filter 0.5s ease-in-out;
    font-size: 20px;
  }
  
  #typing-text:focus {
    filter: none;
  }
  
  
  