@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(black,#7597de);

}

#chart {
    width: 600px;
    height: 400px;
  }


section {

  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  padding: 10px 0;
  z-index: 1000;
  overflow: hidden;
}



header .logo {
  
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  header ul li {
    margin: 18px 0; /* Add vertical margin between list items */
  }

header ul li a {
  text-decoration: none;
  padding: 6px 2px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
}
  
header ul li a.active,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}

section:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,black,transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

h2#text {
  position: absolute;
  color: #fff;
  right: -350px;
  white-space: nowrap;
  font-size: 230px;
  transform: translateY(0px);
}

#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 5px;
  background: #fff;
  color: #2b1055;
  transform: translateY(100px);
  font-size: 1.5em;
  z-index: 9;
}



