  /*-----------------------------------------------tourism part----------------------------------------------- */
/*-----------------------------------------------begin----------------------------------------------- */
/*-----------------------------------------------tourism section's transition img and content----------------------------------------------- */
.tourism-section {
    position: relative;
    height: 4800px; 
    padding: 100px;
    background: black;
  }
  
  #sec-chinatown-tourism .tourism-section {
    padding: 100px 0;
    min-height: 600px;
    
  }
  
  #sec-chinatown-tourism h1, #sec-chinatown-tourism h2 {
    font-weight: bold;
  }
  
  #sec-chinatown-tourism {
    font-size: 1.2em;
    text-align: left;
    margin-top: 135px;
    top: 50%; /* Adjust as needed */
 
  }

  #leftalignthis {
    font-size: 1.2em;
    text-align: left;
    margin-top: 135px;
    top: 50%; /* Adjust as needed */

  }






  
  
  #sec-chinatown-tourism .tourism-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 调整为所需的高度，如100vh或其他 */
  }
  
  #sec-chinatown-tourism .tourism-background img {
    width: 90%; /* 宽度保持为80% */
    height: auto; /* 保持图片的纵横比 */
    margin: auto; /* 通过自动外边距来居中图片 */
    position: absolute;
    top: 5%;
    left: 5%;
  
  }
  
  
  .black-rectangle {
    position: absolute;
    top: 21%; /* Adjust as necessary */
    left: 5%; /* Adjust as necessary */
    width: 32%; /* Or any width you prefer */
    height: 180px; /* Or any height you prefer */
    background-color: rgba(0, 0, 0); /* Black with some opacity */
    display: flex;
    justify-content: center; /* Center the title horizontally */
    align-items: center; /* Center the title vertically */
    color: white; /* Text color */
    text-align: center;
    z-index: 3; /* Ensure it's above the image */
  }
  
  .black-rectangle h1 {
    margin: 0; /* Remove default margin */
    font-weight: bolder;
    font-size: 70px;
    position: absolute;
    top: 12%; /* Adjust as necessary */
    left: 0%; /* Adjust as necessary */
    text-align: left;
  }
  
  .black-rectangle p {
    position: absolute;
    top: 130%; /* Adjust as necessary */
    left: 0%; /* Adjust as necessary */
    text-align: left;
    width: 120%;
    font-weight: bolder;
  }
  
  .black-rectangle p1 {
    position: absolute;
    top: 90%; /* Adjust as necessary */
    left: 247%; /* Adjust as necessary */
    text-align: left;
    width: 120%;
    font-weight:lighter;
    font-style: italic;
    font-size: 10px;
    color: rgb(112, 112, 112);
  }
  
  
  #sec-chinatown-tourism .tourism-content {
    position: relative; /* 相对定位而不是绝对定位，这样就不会与图片重叠 */
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    z-index: 2;
  }
  
  
  
  /*-----------------------------------------------chart1 with its content----------------------------------------------- */
  .scroll-container {
  margin-top: 50px; /* Space from the previous content */
  
  }
  
  .scroll-container h2 {
    font-weight: bolder;
    font-size: 45px;
    color: #fff; /* Ensuring the color is visible on the background */
    margin: 0 auto; /* Center the heading horizontally */
    display: block; /* Make it a block element */
    position: absolute;
    left: 50%;
    top: 25%;
    letter-spacing:-7px;
    padding-top: 9%;
  }
  
  
  /* Animation1 */
  .char {
    display: inline-block;
    opacity: 0;
  }
  
  [data-scroll='in'] .char {
    animation: swap-in 3s forwards;
  }
  
  @keyframes swap-in {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  /* Animation2 */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Initially hide the elements and set them up for the animation */
  .scroll-container p,
  .grey-rectangle p,
  .chart-content p,
  .content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding-top: 9%;
  }
  
  /* Define the fade-in animation when the class is added */
  .fade-in {
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  
  .scroll-container p {
    width: 600px;
    height: 300px; /* Adjust as needed for your content */
    color: white;
    position: absolute; /* Position it within the scroll-container */
    top: 27.5%; /* Center vertically */
    left: 50%; /* Center horizontally */
    z-index: 10;
    font-size: 20px;
  }

  
  .scroll-image img{
    width: 63%;
    height: auto;
   position: relative;
   left: 30%;
   margin-top: 190px;
   
  }
  
  .scroll-image p1{
    width: 45.5%;
    color: #fff;
    position: absolute;
    top: 56%;
    left: 8.5%;
    transform: rotate(90deg); 
    font-weight:lighter;
  font-style: italic;
  font-size: 10px;
  color: rgb(112, 112, 112);
    }
  
  
  /*-----------------------------------------------circles with timeline and its content----------------------------------------------- */
  .line { 
    border-bottom: 2px solid;
    color:rgb(181, 181, 181); 
    width: 70%; 
    position: absolute;
    top: 55.8%;
    align-items: center;
    z-index: 1.5;
    margin-top: 190px;
  } 
  
  .circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 55.7%;
    margin-top: 190px;
  
  
  }
  
  .circle.enlarged {
    transform: scale(2);
    transition: transform 0.3s ease; /* 平滑过渡效果 */
  }
  
  
  
  .circle1 {
    position: absolute;
    left: 15%;
    
  }
  
  .text-circle1{
    position: absolute;
    top: 54.5%;
    left: 13.5%;
    color: white;
    font-size: 30px;;
    margin-top: 190px;
  }
  
  .circle2 {
    position: absolute;
    left: 32.5%;
    font-size: 60px;;

  
  }
  
  .text-circle2{
    position: absolute;
    top: 54.5%;
    left: 31%;
    color: white;
    font-size: 30px;;
    margin-top: 190px;
  }
  
  .circle3 {
    position: absolute;
    left: 50%;
    font-size: 60px;;

  }
  
  .text-circle3{
    position: absolute;
    top: 54.5%;
    left: 48.5%;
    color: white;
    font-size: 30px;;
    margin-top: 190px;

  }
  
  .circle4 {
    position: absolute;
    left: 67.5%;
    font-size: 60px;;

  }
  
  .text-circle4{
    position: absolute;
    top: 54.5%;
    left: 66%;
    color: white;
    margin-top: 190px;
    font-size: 30px;;

  }
  
  
  .circle5 {
    position: absolute;
    left: 85%;


  }
  
  .text-circle5{
    position: absolute;
    top: 54.5%;
    left: 83.5%;
    color: white;
    font-size: 30px;;
    margin-top: 190px;
  }
  



  .content {
    width: 73%;
    color: #fff;
    position: absolute;
    top: 57.5%;
    left: 15%;
    font-size: 20px;
  }
  
  .content-button{
    cursor: pointer;
    width: 70%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 84%;
    text-decoration: underline;
    font-weight: bolder;
    margin-top: 190px;
  }
  
  .content-button.back {
    display: none; /* 默认隐藏 Back 按钮 */
    width: 70%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 84%;
    text-decoration: underline;
    font-weight: bolder;
    margin-top: 190px;
  }
  
  
  
  
   

  
   /*-----------------------------------------------chart2 with its content----------------------------------------------- */
    .chart-container {
      position: relative; 
      height: 500px; 
      width: 750px; 
      margin: auto; 
      position: absolute; 
      top: 69.5%; 
      left: 15%;
     
    }

  /* commented the svg css because it broke my d3 viz. we both are using d3, so svg is used for both d3 viz - David*/
    /* svg {
    display: relative;
    background: yellow;
    top: 250%; 
    left: 10%; 
    } */
  
    .chart-content p{
    width: 50%;
    color: #fff;
    top: 62%;
    left: 15%;
    font-size: 20px;
    }
  
    .chart-content p1{
      width: 45.5%;
      color:gray; 
      opacity: 0%;
      position: absolute;
      background-color: brown;
      top: 69.5%;
      left: 40%;
      transform: rotate(-90deg); /* 逆时针旋转90度 */
      font-weight:lighter;
    font-style: italic;
    font-size: 10px;
      }
    
  
  /* -----------------------------------------------grey conclusion-----------------------------------------------*/
      .grey-rectangle {
        width: 90%; /* Adjust the width as needed */
        height: 190px; /* Set the height to fit your content */
        margin: auto; /* Centers the rectangle in its parent if the parent is flex or has a specified width */
        position: absolute;
        top: 80%; /* Adjust the position as needed */
        left: 5%;
        background-color: gray;
        display: flex;
        justify-content: center; /* Horizontally center content */
        align-items: center; /* Vertically center content */
        
      }
      
      .grey-rectangle p {
        color: white; /* White text color */
        padding: 40px;
        font-size: 20px;
        margin-bottom: 30PX;
      }
      
      .grey-rectangle p1 {
        width:100%;
        color: gray;
        position: absolute;
        top: 180%; /* Adjust the position as needed */
        left: 0%;
        font-size: 15px;
        font-weight:lighter;
        font-style: italic;
        padding: 40px;
      }

   


  
      /*-----------------------------------------------tourism part----------------------------------------------- */
  /*-----------------------------------------------end----------------------------------------------- */